body {
  padding:0;margin:0;
  text-align:center;
  font-family:Arial, Helvetica, sans-serif;
  font-size:22px;
}

body>div {
  min-height:500px;
}

#Navbar
{
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFCC00));
	background: -moz-linear-gradient(top,  #FFFFFF,  #FFCC00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFCC00');	
	
	display: inline-block;
	height:50px;	
	border:1px #000 solid;
	margin: 0px auto;
	margin-top:10px;
	
	border-radius: 20px 20px 20px 20px;
	box-shadow: 5px 5px 5px #888888;
}

#Navbar a
{
	text-decoration:none;
	color:#666633;
	
	font-size:30px;		
	
	height:50px;
	min-width:150px;
	max-width:250px;
	margin:0px;		
	
	float:left;
	display:block;	
	
	-webkit-transition: all 1s ;
	-moz-transition: all 1s ;
	-o-transition: all 1s ;
	-ms-transition: all 1s ;
	transition: all 1s ;	
	border-radius: 20px 20px 20px 20px;	
}

#Navbar a:hover{
	
	color:black;
	
	text-shadow:1px 1px 12px #ffffcc;	
}

#Navbar a.selected
{
	text-decoration:underline;
	color:white;
	background:black;
	text-shadow:1px 1px 25px #ffffcc, 15px 15px 12px #ffffcc;
	border-radius: 20px 20px 20px 20px;	
}

.container {
  width:900px;
  margin:0px auto;
  padding-top:1px;
}

.bg {
  background-attachment:fixed;
	background-position:bottom;
	background-size:cover;
	padding-top:1px;
}

h2 { /* only used for in-image text */
	margin-top:200px;
	font-size:60px;
	text-shadow:0 0 20px black;
	color:#EEE;
}

a {color:#0066CC;text-decoration:none;}

#header {
  padding:0;margin:0;
  background-image:url('1.jpg');
  height:20vh;
}
#header-links a {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
#header-links a:hover {-webkit-filter: grayscale(0%); filter: grayscale(0%);}
#header-links img {height:50px;}

#me {
  margin-top:30vh;
  display:inline-block;
}
#me>img {
  border:3px white solid;
  border-radius:100px;
}
#me>span {
	display:block;
  color:white;
  font-size:30px;
  font-weight:bold;
  text-shadow:0 0 20px black;
}

#about {
  background-color:#FFF;
}

#projects-intro {
  /*background-image:url('2.jpg');*/
  background-image:url('2.jpg');
  background-repeat:no-repeat;
}

#projects {
  background-color:#FFF;
}
.project {
  text-align:left;
  margin:20px;
  font-size:14px;
  padding:10px;
  vertical-align:top;
}
.project>img {
  height:150px;
}

#footer {
	background-image:url('3.jpg');
}